#inlist{
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}

.SpellInformation{
    display:flex;
    width: 100%;
    height: 20px;
    align-items: center;
    flex-direction: row;

    > div{
        flex-grow: 1;
        width: 50%;
    }
    p{
        border-width: 3px;
        border-color: white;
    }
}