
$colour-palette-slimy-green: rgb(44, 126, 44);
$colour-palette-forest-green-traditional: #053b06;
$colour-palette-gold: #a4770bff;
$colour-palette-honolulu-blue: rgb(0, 69, 99);
$colour-palette-lavender-web: #e7ecffff;


$colour-palette-slimy-green-rgb: rgba(44, 126, 44,0.50);
$colour-palette-forest-green-traditional-rgb: rgba(5, 59, 6,1);
$colour-palette-gold-rgb: rgba(164, 119, 11,0.75);
$colour-palette-honolulu-blue-rgb: rgba(0, 69, 99,1);
$colour-palette-lavender-web-rgb: rgba(231, 236, 255,1);