nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #053b06;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 10px;
  margin-bottom: 5px;
}

nav a {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  text-decoration: none;
  background-color: #053b06;
  color: #e7ecffff;
  text-decoration: none;
  border: solid #a4770bff;
  border-width: 3px;
}

nav a:hover, nav a:focus {
  background-color: #032304;
}

nav a:active {
  color: #a4770bff;
}

nav h1 {
  font-size: 60px;
  color: white;
  margin: 0;
  margin-bottom: 3px;
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #2c7e2c;
}

nav ul li {
  font-size: 60px;
}

#content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 126, 44, 0.5);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  gap: 5px;
}

#About {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / span 1 / span 6;
  text-align: center;
  font-size: 24px;
  margin: 0;
  background-color: #053b06;
}

#websiteAbout {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 2 / 1 / span 1 / span 6;
  text-align: center;
  font-size: 24px;
}

#morecontent {
  text-align: center;
  font-size: 24px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / span 3 / span 3;
}

#morecontent1 {
  text-align: center;
  font-size: 24px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 3 / 4 / span 3 / span 3;
}

#inlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.SpellInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.SpellInformation > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
}

.SpellInformation p {
  border-width: 3px;
  border-color: white;
}

#inerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.SubclassesInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.SubclassesInformation > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.SubclassesInformation p {
  border-width: 3px;
  border-color: white;
}

* {
  font-family: sans-serif,Arial, Helvetica;
}

p {
  font-size: 30px;
  text-align: center;
  background-color: #053b06;
  color: #e7ecffff;
  margin: 0;
}

body {
  background-image: url("../Images/BackgroundImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

#information {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#BackgroundColour {
  background: rgba(164, 119, 11, 0.75);
  width: 75vw;
  height: 100vh;
}

#flex_for_inner_background {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#inner_background {
  background: rgba(44, 126, 44, 0.5);
  width: 74vw;
  height: 99vh;
}

@media (min-width: 0px) and (max-width: 1279px) {
  p {
    font-size: 20px;
  }
  nav ul li {
    font-size: 40px;
  }
}

#spells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 126, 44, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

#CoolSpell {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #053b06;
}

#subclasses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 126, 44, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

#SubclassesList {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25%;
  background-color: #053b06;
}

#video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 126, 44, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
