// Brett

@import "utils/_variables.scss";
@import "base/_base.scss";
@import "components/_navigation.scss";
article{
    h3{
        color: $h3Colour;
        font-size: 28;
    }
    p{
        color: $paragraphColour;
        font-size: 28;   
    }
}
