#CenterDiv{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 5px;
}
#content{
    width: 100%;
    height: 100%;
    background-color: $colour-palette-slimy-green-rgb;
}
#About {

    text-align: center;
    font-size: 24px;
    margin: 0;
    background-color:$colour-palette-forest-green-traditional;
}
#websiteAbout
{
    text-align: center;
    font-size: 24px;
}
#morecontent
{
    text-align: center;
    font-size: 24px;
}

#morecontent1
{
    text-align: center;
    font-size: 24px;
}
