@import "../variables";

nav {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:$colour-palette-forest-green-traditional;

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 10px;
        margin-bottom: 5px;
    }
    
    a {
        display: inline-block;
        flex-grow: 1;
        text-align: center;
        text-decoration: none;
        background-color:$colour-palette-forest-green-traditional;
        color: $colour-palette-lavender-web;
        text-decoration: none;
        border: solid $colour-palette-gold;
        border-width: 3px;

        &:hover, &:focus {
            background-color: adjust-color($color: $colour-palette-forest-green-traditional, $lightness: -5%);
        }

        &:active {
            color:$colour-palette-gold;
        }
    }
    h1{
        font-size: 60px;
        color: white;
        margin: 0; 
        margin-bottom: 3px;
        width: 100%;
        text-align: center;
        border-bottom:5px solid $colour-palette-slimy-green;
    }
    
    ul li {
        font-size: 60px;
    }
}